@model BTL_Nhom8.Models.Account

@{
    ViewBag.Title = "Register";
}

@*<body class="fix-menu">*@
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
         style="background-image: url(/wwwroot/img/bg-img/24.jpg);">
        <h2>Đăng ký</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @* <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Đăng nhập</a></li>*@
                        @* <li class="breadcrumb-item active" aria-current="page">Đăng nhập</li>*@
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="shop-page section-padding-0-100">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <div class="signup-card card-block auth-body mr-auto ml-auto">
                        @using (Html.BeginForm())
                        {
                            <div class="text-center">
                                <img src="~/Areas/Admin/Assets/images/auth/logo-dark.png" alt="logo.png">
                            </div>
                            <div class="auth-box" style="width: 800px; margin-left: 180px;">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center txt-primary">Đăng ký</h3>
                                    </div>
                                </div>
                                <hr />
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group" style="width:975px;">
                                        @Html.Label("Tên người dùng")
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group" style="width:975px;">
                                        @Html.Label("Mật khẩu")
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password"} })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group" style="width:975px;">
                                        @Html.Label("Tên khách hàng")
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Customer_Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Customer_Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group" style="width:975px;">
                                        @Html.Label("Email")
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <p style="color:red;">@ViewBag.Error</p>
                                    <div class="row m-t-25 text-left" style="margin-top: 10px;">
                                        <div class="col-md-12">
                                            <div class="checkbox-fade fade-in-primary">
                                                <label>
                                                    <input type="checkbox" value="">
                                                    @*<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>*@
                                                    <span class="text-inverse">Tôi đã đọc và chấp nhận những <a href="#">Quy định &amp; Điều khoản.</a></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-t-30">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Đăng ký</button>
                                            @*<a href="@Url.Action("Login", "Home")" style="color: #1f82a0;  font-weight: bold;">Bạn đã có tài khoản? Đăng nhập</a>*@
                                            <h4 class="text-center">
                                                <a href="@Url.Action("Login", "Home")">Bạn đã có tài khoản? Đăng nhập</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="text-inverse text-left m-b-0">ALEZEA.COM</p>
                                        <p class="text-inverse text-left"><b>Your Authentication Team</b></p>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="~/Areas/Admin/Assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
    </section>
</div>